
/* unvisited link */
a:link {
    color: grey;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: grey;
    text-decoration: none;
    font: 10px sans-serif;
}

svg {
    border: 1px;
    border-style: dashed;
}

/* selectable table */
table {
    border-collapse: collapse;
}

td {
    border:dotted;
    border-width:1px;
    width:100px;
}
.sel {
    background-color: blue;
    color: white;
}
.unsel {
    background-color: white;
    color: black;
}
.titles {
    font: bold;
}

.remove {
    color: grey;
    font-style: italic;
}


.left {
    width: 50%;
    float: left;
}


.center {
    width: 20%;
    float: left;
}

/* positioning ought to be relative... */
.right {
    width: 33%;
    position: absolute;
    top:10px;
    right: 0;
}

.right span {
    font-style: italic;
}


